@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing:border-box;
}

body {
    background-color: #6782b4;
    background-image: linear-gradient(315deg,#6782b4 0%,#b1bfd8 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;    
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.3);
    overflow: hidden;
    width: 500px;
    max-width: 100%;

}

.quiz-header {
    padding: 4rem
}

h2 {
    margin: 0;

}

/* #newButton{
    background-color: #B33771;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 1rem;
} */

#newQuiz {
    /* padding: 1rem; */
    padding-top: 1rem;
    width: 500px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;    
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.3);
    overflow: hidden;
    max-width: 100%;
} 

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.1rem;
    margin: 1rem 0;

}
button {
    background-color: #B33771;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 1rem;
}

button:hover {
    background-color: #af165e;
}



ul li label{
    cursor: pointer;

}

ul li input {
    cursor: pointer;
}